<!DOCTYPE html>
<html>
<head>
	<title>File-Driver</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{!-- bootstrap css --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	{{!-- jquery --}}
	<script src="https://code.jquery.com/jquery.js"></script>

	{{!-- bootstrap js --}}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Font Awesome Glyphicons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	<!-- Firebase Reference -->
    <script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
       <!-- Google Sign In -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="google-signin-client_id" content="429679382774-8h4n1a9f35o65c2nsjuqvdkrm1gcn11l.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">

    <script type="text/javascript" src="assets/js/page-elements.js"></script>

	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body class="container">
{{{body}}}
</body>
</html>