<!DOCTYPE html>
<html>
<head>
	<title>File-Driver</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-signin-client_id" content="429679382774-8h4n1a9f35o65c2nsjuqvdkrm1gcn11l.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">
	{{!-- jquery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Firebase Reference -->
    <script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
       <!-- Google Sign In -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="https://use.fontawesome.com/30475d8f78.js"></script>


	<link rel="stylesheet" href="public/assets/css/Ref/bulma.css">
	<link rel="stylesheet" href="public/assets/css/style.css">
</head>
	<body>
		{{{body}}}

	<!-- SCRIPTS -->
	  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	  <script type="text/javascript" src="public/assets/js/main.js"></script>
	</body>
</html>