<div class="tabs is-centered is-boxed is-medium">
    <ul>
      <li class="is-active">
        <a href="/home">
          <span class="icon is-small"><i class="fa fa fa-home" aria-hidden="true"></i></span>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/calendar">
          <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <span>Calendar</span>
        </a>
      </li>
       <li>
        <a class="nav-item is-disabled">
          <img src="public/assets/img/logo.png" alt="Ascendimus logo">
        </a>
      </li>
      <li>
        <a href="chat">
          <span class="icon is-small"><i class="fa fa-weixin" aria-hidden="true"></i></span>
          <span>Chat</span>
        </a>
      </li>
      <li>
        <a href="documents">
          <span class="icon is-small"><i class="fa fa-files-o" aria-hidden="true"></i></span>
          <span>Documents</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-12 has-text-centered"><h1 class="title is-1">Welcome User!</h1></div>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
           
            <div class="blogTile tile is-child notification">
              <p class="title">Blog</p>
              <figure class="image ">
                <img src="https://placehold.it/600x275">
              </figure>
            </div>

             <div class="tweetTile tile is-child notification">
              <p class="title">Tweets</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tile is-vertical is-4">
        <div class="tile is-parent is-vertical">
          <div class="onlineTile tile is-child notification">
            <div class="content">
              <p class="title">Online Users</p>
              <div class="content">
                <!-- Content -->
              </div>
            </div>
          </div>

          <div class="tile eventTile is-child notification">
            <div class="content">
              <p class="title">Upcoming Events</p>
              <div class="content">
                <!-- Content -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>