<div class="tabs is-centered is-boxed is-medium is-hidden-mobile">
    <ul>
      <li>
        <a href="/home">
          <span class="icon is-small"><i class="fa fa fa-home" aria-hidden="true"></i></span>
          <span>Home</span>
        </a>
      </li>
      <li class="is-active">
        <a href="/calendar">
          <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <span>Calendar</span>
        </a>
      </li>
       <li>
        <a class="nav-item is-disabled">
          <img src="public/assets/img/logo.png" alt="Ascendimus logo">
        </a>
      </li>
      <li>
        <a href="/chat">
          <span class="icon is-small"><i class="fa fa-weixin" aria-hidden="true"></i></span>
          <span>Chat</span>
        </a>
      </li>
      <li>
        <a href="/documents">
          <span class="icon is-small"><i class="fa fa-files-o" aria-hidden="true"></i></span>
          <span>Documents</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-12 has-text-centered"><h1 class="title is-1"></h1></div>
    </div>

    <div class="columns is-mobile">
      <div class="column is-10 is-offset-1 calendarCont"></div>
    </div>
  </div>