<nav class="nav has-shadow">
 <div class="nav-left">
   <a class="nav-item is-disabled">
     <img src="public/assets/img/logo.png" alt="Ascendimus logo">
   </a>
 </div>
 <div class="nav-right nav-menu">
   <a href="/home" class="nav-item">
     Home
   </a>
   <a href="/chat" class="nav-item is-active">
     Chat
   </a>
   <a href="/documents" class="nav-item">
     Documents
   </a>
 </div>
</nav>

 
<br>
<br>

<div class="columns">
 <div class="column is-3">
   <nav class="panel">
     <p class="panel-heading">
      Online Users
     </p>
     <div class="panel-block">
       <p class="control has-icon">
         <input class="input is-small" type="text" placeholder="Search">
         <span class="icon is-small">
           <i class="fa fa-search"></i>
         </span>
       </p>
     </div>
     <p class="panel-tabs">
       <a class="is-active">All</a>
       <a>Managers</a>
       <a>Executives</a>
        <a>Offline</a>
     </p>
     <a class="panel-block">
       <span class="panel-icon">
         <i class="fa fa-book"></i>
       </span>
       bulma
     </a>
     <a class="panel-block">
       <span class="panel-icon">
         <i class="fa fa-book"></i>
       </span>
       marksheet
     </a>
     <a class="panel-block">
       <span class="panel-icon">
         <i class="fa fa-book"></i>
       </span>
       minireset.css
     </a>
     <a class="panel-block">
       <span class="panel-icon">
         <i class="fa fa-book"></i>
       </span>
       jgthms.github.io
     </a>
     <a class="panel-block">
       <span class="panel-icon">
         <i class="fa fa-code-fork"></i>
       </span>
       daniellowtw/infBoard
     </a>
     <a class="panel-block">
       <span class="panel-icon">
         <i class="fa fa-code-fork"></i>
       </span>
       mojs
     </a>
   </nav>
 </div>

 <div class="column chatCont">
   <p class="notification is-success title">
     Chat Area
   </p>
   <!--displays info-->
   <div class="chatArea">
     <div class="modal-background">
       <div class="chatroomEntry">
         <header class="modal-card-head">
           <p class="modal-card-title has-text-centered">Enter Name of Chatroom</p>
           <button class="delete"></button>
         </header>
         <section class="modal-card-body">
           <div class="field">
             <p class="control">
               <input class="input chatName" type="text" placeholder="Chat Room">
             </p>
           </div>
         </section>
         <footer class="modal-card-foot">
           <a class="button is-success">Submit</a>
           <a class="button cancel">Cancel</a>
         </footer>
       </div>
     </div>
   </div>
 </div>

</div>