  <nav class="nav has-shadow">
    <div class="nav-left">
      <a class="nav-item is-disabled">
        <img src="public/assets/img/logo.png" alt="Ascendimus logo">
      </a>
    </div>
    <div class="nav-right nav-menu">
      <a href="/home" class="nav-item is-active">
        Home
      </a>
      <a href="/chat" class="nav-item">
        Chat
      </a>
      <a href="/documents" class="nav-item">
        Documents
      </a>
    </div>
  </nav>
  <br>
  
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-12 has-text-centered"><h1 class="title is-1">Welcome User!</h1></div>
    </div>

    <div class="tile is-ancestor">

  <div class="tile is-4 is-vertical is-parent">
    <div class="eventTile tile is-child notification">
      <p class="title">Upcoming Events</p>
        <div class="content">
          <!-- Content -->

        </div>
    </div>
    <div class="tweetTile tile is-child notification">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="http://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>

          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item reply">
                <span class="icon is-small"><i class="fa fa-reply"></i></span>
              </a>
              <a class="level-item retweet">
                <span class="icon is-small"><i class="fa fa-retweet"></i></span>
              </a>
              <a class="level-item heart">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
              </a>

            </div>
          </nav>
        </div>
        <div class="media-right">
          <a class="level-item tweetPrev">
                <span class="icon is-medium"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
          </a>
           <a class="level-item tweetNext">
                <span class="icon is-medium"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </a>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="blogTile tile is-child notification">
      <h1 class="title">Hello World</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
      <br>
      <hr>
      <br>
      <h1 class="title">Hello World</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
      <br>
      <hr>
      <br>
      <h1 class="title">Hello World</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.</p>
    </div>
  </div>
</div>
  </div>